.shipItemContainer {
  color: white;
  padding-top: 75px;
  width: 60%;
  max-width: 900px;
  margin: 0 auto;
}

.ShipItemCard {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 5px solid white;
  border-radius: 30px;
  background-color: black;
}

.shipDescription {
  flex: 1 0 100%;
  font-size: 25px;
  margin: 14px 0;
  font-weight: 500;
}

.goBackBtn {
  background: black;
  border: 3px solid white;
  color: white;
  margin: 20px;
  font-size: 20px;
}

.goBackBtn:hover {
  background: white;
  border-color: white;
  color: black;
}

.heading {
  font-size: 27px;
}

@media screen and (max-width: 800px) {
  .shipItemContainer {
    width: 80%;
  }

  .shipDescription {
    font-size: 20px;
  }
}
